---

---

<!doctype html>
<html lang="en">
    <head>
        <slot name="head" />
        <meta name="generator" content={Astro.generator} />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Vesktop</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="alternate icon" type="image/png" href="/favicon.png" />
    </head>

    <body>
        <slot />
    </body>
</html>
